
 @import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

 * {
   box-sizing: border-box;
 }

 body {
    background-image: url(images/circuit-board-6580407_1920.jpg);
    font-family: 'Montserrat', sans-serif;
 }


.header {
    /* height: 130px; */
    margin-top: 1rem;
}


.left-bar{
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    width: 100%;
}

.right-bar{
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    height: 30rem;
    font-weight: bold;
    width: 100vw;
}

.convert{
    margin: 15px 0px;
}
.hide-me {
    display: none;
  }

  .invalid-feedback-1, .invalid-feedback-2{
      display: none;
      color: red;
     
  }

  .form-group{
      margin-bottom: .25rem;
  } 

  #datetime{
      font-size: xx-small;
  }

  #fromform{
    margin-top: .1rem;
  }

  .alert-msg{
    text-align: center;
    color: white;
    font-weight: bolder;
  }

  .table{
      color: white;
      table-layout: auto;
  }
.bottom-display{
    width: 68rem; !important
}

@media screen and (max-width: 800px) {
    .left-bar, .right.bar, .header {
      max-width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
    .col-7, .col-4 {
        max-width: 90vw; !important
        }
    .col-4{
        flex: 0 0 95%;
    }
    .col-7{
        flex: 0 0 95%;
    }
}

.navbar h1{
    text-align: right;
}

@media screen and (max-width: 400px) {
    .left-bar, .right.bar, .header, .col-4 main {
      max-width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    font-size: xx-small;
    display: table;
    }
    .col-7, .col-4 {
    max-width: 90vw; !important
    
    }
    .header nav h1{
        /* word-wrap: break-word; */
        font-size: 3rem;
    }
    .col-4{
        flex: 0 0 100%;
    }
    .left-bar{
        margin: 5px;
    }
    .right-bar{
        margin: 5px;
    }
    .navbar-brand img{
        width: 50vw;
    }
}

@media screen and (max-width: 500px) {
    .left-bar, .right.bar, .header, .col-4 main {
      max-width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    font-size: xx-small;
    display: table;
    }
    .col-7, .col-4 {
    max-width: 90vw; !important
    
    }
    .header nav h1{
        /* word-wrap: break-word; */
        font-size: 3rem;
    }
    .col-4{
        flex: 0 0 100%;
    }
    .col-7{
        flex: 0 0 90%;
    }
    .navbar-brand img{
        width: 50vw;
    }
}

@media screen and (max-width: 320px) {
    .left-bar, .right.bar, .header  {
      max-width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    font-size: xx-small;
    display: table;
    }
    .col-7, .col-4 {
    max-width: 90vw; !important
    
    }
    .header nav h1{
        /* word-wrap: break-word; */
        font-size: 3rem;
    }
    .col-4{
        flex: 0 0 100%;
    }
    .col-7{
        flex: 0 0 100%;
        width: 100vw;
    }
    .navbar-brand img{
        width: 50vw;
    }
}

@media screen and (max-width: 280px) {
    .left-bar, .right.bar, .header  {
      max-width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    font-size: .2rem;
    display: table;
    }
    .col-7, .col-4 {
    max-width: 90vw; !important
    
    }
    .header nav h1{
        /* word-wrap: break-word; */
        font-size: 2.5rem;
    }
    .display-6{
        font-size: 1rem  ;
    }
    .col-4{
        flex: 0 0 100%;
    }
    .navbar-brand img{
        width: 50vw;
    }
}