
 @import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

 * {
   box-sizing: border-box;
 }

 body {
    background-image: url(images/circuit-board-6580407_1920.jpg);
    font-family: 'Montserrat', sans-serif;
 }


.header {
    height: 130px;
}

.navbar{
    height: 100%;
    margin-top: 1rem;
}

.left-bar{
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
}

.right-bar{
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    height: 20rem;
    font-weight: bold;
    width: 70rem;
}

.convert{
    margin: 15px 0px;
}
.hide-me {
    display: none;
  }

  .invalid-feedback-1, .invalid-feedback-2{
      display: none;
      color: white;
      
     
  }

  .form-group{
      margin-bottom: .25rem;
  } 

  #datetime{
      font-size: xx-small;
  }

  #fromform{
    margin-top: .1rem;
  }

  .alert-msg{
    text-align: center;
    /* color: red; */
    font-weight: bolder;
  }

  .table{
      color: white;
  }
.bottom-display{
    width: 68rem; !important
}

.form-control {
    width: 15rem;
}

.curr-form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    
}